<section class="sidebar">
  <div class="icons">
    <figure>
      <img src="assets/global.svg">
      <figcaption>
        Figura 1
      </figcaption>
    </figure>
    <br>
    <br>
    <figure>
        <img src="assets/global.svg">
        <figcaption>
          Figura 1
        </figcaption>
      </figure>
      <br>
      <br>
      <figure>
          <img src="assets/global.svg">
          <figcaption>
            Figura 1
          </figcaption>
        </figure>
        <br>
        <br>
        <figure>
            <img src="assets/global.svg">
            <figcaption>
              Figura 1
            </figcaption>
          </figure>
  </div>  
  

</section>

